@font-face {
  font-family: Open;
  src: url(../fonts/Open_Sans/OpenSans-Regular.ttf); }
@font-face {
  font-family: Alice;
  src: url(../fonts/Alice/Alice-Regular.ttf); }
@font-face {
  font-family: Poiret;
  src: url(../fonts/Poiret/PoiretOne-Regular.ttf); }
@font-face {
  font-family: Open_Light;
  src: url(../fonts/Open_Sans/OpenSans-Light.ttf); }
