@import url(fonts.css);
@import url(top-navigation.css);
@import url(top-bar.css);
@import url(modal-window.css);
body {
  font-family: Open;
  margin: 0px;
  padding: 0px; }

.wrapper {
  margin: 0 auto;
  text-align: center; }
