@import url(fonts.css);
@import url(top-navigation.css);
@import url(top-bar.css);
@import url(modal-window.css);
@import url(header.css);
body {
  font-family: Open;
  margin: 0px;
  padding: 0px; }

.wrapper {
  margin: 0 auto; }

main section {
  height: 1000px; }
main .portfolio {
  width: 100%;
  background: url(../img/1234.jpg) no-repeat;
  background-size: 100%;
  margin-bottom: 200px; }
  main .portfolio .content-block {
    margin: 0 auto;
    max-width: 1280px;
    padding: 200px 0 0 20px;
    box-sizing: border-box; }
    main .portfolio .content-block span {
      font-family: Open_Light;
      display: block;
      letter-spacing: 2px; }
    main .portfolio .content-block .main-text {
      font-size: 30px; }
