ul
  list-style: none
  box-sizing: border-box
  display: flex
  flex-wrap: wrap
  justify-content: center
  margin: 35px 0px 15px 0px

  li 
    padding-left: 45px
    box-sizing: border-box
    
    &:first-child
      padding-left: 0px
      margin-top: -2px   

    &:hover
      text-decoration: underline
    a
      text-decoration: none
      color: black
      text-transform: uppercase
      letter-spacing: 2px

            

          