.top-bar
  background: rgb(106, 156, 154)
  width: 100%
  padding: 7px 0px
  font-size: 18px
  color: #fff
  font-family: Open_Light


  .top-bar-root
    max-width: 1280px
    margin: 0px auto
    display: grid
    grid-template-columns: 5fr 250px 250px
  
    .social
      padding: 5px 0 0 20px
      color: #e8324f
        
      a
        margin-left: 5px

        &:first-child
          margin-left: 0px

      img 
        padding: 1px

      img:hover
        border-radius: 50%
        background-color: rgba(206, 160, 138, 1)
        transition: 0.2s

    .tel, .online-rec
      text-align: right
      letter-spacing: 1px
      padding-right: 20px

    .tel
      margin-top: 3px
      font-size: 20px
      position: relative

      a
        text-decoration: none
        color: #fff
   
        &:hover:before 
          content: "+7 (911) "

      .tel-text
        position: absolute
        right: 20px
        bottom: 0px
        font-size: 10px

    .online-rec
      button
        font-family: Open_Light
        text-transform: uppercase
        letter-spacing: 2px
        color: white
        background-color: #ce7286
        border-radius: 5px
        font-size: 15px
        border: 1px solid #ce7286
        box-sizing: border-box
        padding: 7px 15px

        &:hover
          color: #ce7286
          background: #ffff
          transition: 0.5s
          /*00CC33* rgba(206, 160, 138, 1)*/
        

@media screen and (max-width: 680px) 
  .tel
    display: none
  nav
    display: none
  .top-bar-root
    grid-template-columns: 1fr 1fr 1fr